html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  background: #9b59b6;
}
.jumbotron {
  background: #ececec;
}
img {
  padding-bottom: 12px;
}
img.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv;
}
h1, h3 {
  text-align: center;
  padding-bottom: 12px;
}
p {
  text-align: center;
}
.img-responsive {
    margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #34495e;
}
.container .text-muted {
  margin: 20px 0;
  color: #bdc3c7;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  font-family: ‘Metrophobic’, Arial, serif;
  font-weight: 400;
  font-size: small;
}
.coverage-map {
  color: #55198b;
}
