body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #9b59b6;
}
.jumbotron {
  background: #ececec;
}
img {
  padding-bottom: 12px;
}
img.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv;
}
h1 {
  text-align: center;
  padding-bottom: 12px;
}
p {
  text-align: center;
}
.img-responsive {
    margin: 0 auto;
}
